# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 by Tomasz Bojczuk <seelook@gmail.com>
[Desktop Entry]
Name=karp
Name[ar]=كارب
Name[ca]=Karp
Name[ca@valencia]=Karp
Name[eo]=karp
Name[es]=karp
Name[eu]=karp
Name[fr]=Karp
Name[gl]=karp
Name[he]=karp
Name[hi]=कार्प
Name[ia]=karp
Name[it]=karp
Name[ka]=karp
Name[nl]=karp
Name[pl]=karp
Name[sa]=कर्प्
Name[sl]=karp
Name[sv]=karp
Name[tr]=Karp
Name[uk]=karp
Name[x-test]=xxkarpxx
Name[zh_CN]=Karp PDF 编辑器
Name[zh_TW]=karp
Comment=Karp - KDE arranger for PDFs
Comment[ar]=كارب - منظم كيدي لملفات بي دي اف
Comment[ca]=Karp - Arranjador de PDF de KDE
Comment[ca@valencia]=Karp - Arranjador de PDF de KDE
Comment[eo]=Karp - PDF-aranĝilo de KDE
Comment[es]=Karp - Organizador PDF de KDE
Comment[eu]=Karp - KDEren PDF moldatzailea
Comment[fr]=Karp - outil d'arrangement de fichiers « PDF » de KDE
Comment[gl]=Karp — Organizador de PDF de KDE
Comment[he]=Karp - מסדר קובצי PDF מבית KDE
Comment[hi]=कार्प - पीडीएफ़ के लिए केडीई अरेंजर
Comment[ia]=Karp - compositor de KDE per PDFs
Comment[it]=Karp - organizzatore KDE di PDF
Comment[ka]=Karp - PDF-ების დამლაგებელი KDE-სთვის
Comment[nl]=Karp - KDE arrangeur voor PDF's
Comment[pl]=Karp — Aranżer PDF-ów dla KDE
Comment[sa]=Karp - PDFs कृते KDE व्यवस्थापकः
Comment[sl]=Karp - KDE razvrščevalnik za PDF-e
Comment[sv]=Karp - KDE-arrangör för PDF:er
Comment[tr]=Karp — PDF Düzenleyicisi
Comment[uk]=Karp — впорядкувальник PDF від KDE
Comment[x-test]=xxKarp - KDE arranger for PDFsxx
Comment[zh_CN]=Karp - KDE 的 PDF 编辑器
Comment[zh_TW]=Karp - KDE 的 PDF 排列工具
Version=25.03.70
Exec=karp %U
Icon=org.kde.karp
Type=Application
Terminal=false
Categories=Office;Utility;
