# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 by Tomasz Bojczuk <seelook@gmail.com>
[Desktop Entry]
Name=deafed
Comment=Deaf Ed - Simple PDF editor
Version=1.0
Exec=deafed %U
Icon=org.kde.deafed
Type=Application
Terminal=false
Categories=Office;Utility;
